<?xml version="1.0"?>
<appConfig>
  <userManagement mode="InApp"></userManagement>
  <connections>
    <add name="TinyERP.Course.Context.CourseContext" server=".\SQLEXPRESS" databaseName="CourseDbContext" user="sa" password="123"></add>
    <add name="TinyERP.UserManagement.Context.UserContext" server=".\SQLEXPRESS" databaseName="UserDbContext" user="sa" password="123"></add>
  </connections>
</appConfig>