<?xml version="1.0"?>
<appConfig>
  <userManagement mode="ReMote">
    <endPoint url="http:\\localhost.usermanagement.api">
    </endPoint>
  </userManagement>
  <connections>
    <add name="TinyERP.UserManagement.Context.UserContext" server=".\SQLEXPRESS" databaseName="UserDbContext" user="sa" password="123"></add>
  </connections>
</appConfig>